@{
    ViewData["Title"] = "Home Page";
}

@using CleanChat.Web.Models

@model Message

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table class="table mt-5">
        <thread>
            <tr>
                <th scope="col">TopicId</th>
                <th scope="col">ClientId</th>
                <th scope="col">Message</th>
            </tr>
        </thread>
        
        <tr>
            @if (Model != null)
            {
                <td>@Model.TopicId</td>
                <td>@Model.ClientId</td>
                <td>@Model.Content</td>
            }
        </tr>
    </table>

    <form asp-action="index" method="post" class="card p-3">
        <div asp-validation-summary="All"></div>
        <div class="form-group mb-0 align-middle">
            <label asp-for="TopicId">Topic</label>
            <input asp-for="TopicId" class="mr-10" type="text" />

            <label asp-for="ClientId">Client</label>
            <input asp-for="ClientId" class="mr-10" type="text" />

            <label asp-for="Content">Message</label>
            <input asp-for="Content" class="mr-10" type="text" />

            <button type="submit" class="btn-primary btn m-3">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
