@model User

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h2>Login</h2>
            <hr>
            <form method="post">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div asp-validation-summary="All" class="alert alert-danger"></div>
                }
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="Username" value="@Model?.Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="Password" value="@Model?.Password" />
                </div>
                <div class="row justify-content-center text-center">
                    <button type="submit" class="btn btn-primary mt-2 col-sm-3 mb-3">Login</button>
                    <p>Don't have an account?<a asp-controller="User" asp-action="Register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
