@{
    ViewBag.Title = "WebSocket Test";
}

<h2>WebSocket Test</h2>

<div>
    <button id="connectButton" onclick="connect()">Connect</button>
    <button id="disconnectButton" onclick="disconnect()">Disconnect</button>
</div>

<div>
    <input type="text" id="messageInput" />
    <button onclick="sendMessage()">Send</button>
</div>

<div id="log"></div>

@section scripts {
    <script>
        let webSocket;

        async function connect() {
            const url = "ws://" + "localhost:7221" + "/api/websocket";
            var webSocket = new ClientWebSocket();
            log(webSocket);
            await webSocket.ConnectAsync(url);

            webSocket.onopen = function (event) {
                log("WebSocket connected");
            };

            webSocket.onmessage = function (event) {
                const message = event.data;
                log("Received message: " + message);
            };

            webSocket.onerror = function (event) {
                log("WebSocket error: " + event);
            };

            webSocket.onclose = function (event) {
                log("WebSocket disconnected: " + event);
            };
        }

        function disconnect() {
            if (webSocket) {
                webSocket.close();
                webSocket = null;
                log("WebSocket disconnected");
            }
        }

        function sendMessage() {
            const message = document.getElementById("messageInput").value;
            webSocket.send(message);
            log("Sent message: " + message);
        }

        function log(message) {
            const logDiv = document.getElementById("log");
            logDiv.innerHTML += message + "<br />";
        }
    </script>
}
